*.class

# Package Files #
*.jar
*.war
*.ear
/.project
/.classpath
/.settings
# maven
/target

# various other potential build files
/build
/bin
/dist
/manifest.mf
/nbactions.xml

#Linux files
/.directory